node_modules/
dist/
packs/wicked-adventures/
packs/wicked-roll-tables/
packs/wicked-macros/
packs/wicked-lore/
packs/wicked-example-characters/
packs/wicked-actors/
packs/wicked-scenes/
packs/wicked-playlists/
packs/wicked-items/
packs/wicked-cards/
